* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}


#facebook {
    width: 960px;
    margin: 20px auto;
}


#content {
    float: left;
     width:620px;
    min-height: 100%;
    
}

#log {
    margin-top: 250px;
    float: left;
    width: 340px;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
    border: 2px solid gray;
}



footer {
    clear: both;
}